<div class="container">

  <h2>商品一覧</h2>

  <div class="text-right index-new">
    <%= link_to new_admin_item_path do %>
      <button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
    <% end %>
  </div>



</div>