<div class="container">
  <div class="row my-4">

    <div class="col-md-12 px-sm-0 d-flex align-items-center justify-content-center">
      <h1>About</h1>
    </div>

    <div class="col-md-12 px-sm-0 d-flex align-items-center justify-content-center">
      <p class="text-center">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
    </div>

    <div class="carousel-inner mt-4">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/cake.jpg", size: "130x80">
      </div>
    </div>

  </div>
</div>