<div>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th class="active text-center">
          <h5 class="genre_said">ジャンル検索</h5>
        </th>
      </tr>
    </thead>
  </table>
</div>
